@model Model.User

@{
    ViewBag.Title = Resources.User.NewUser;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section css
{
}

<div id="page-wrapper">
    <div class="row">
        <!-- page header -->
        <div class="col-lg-12">
            <h1 class="page-header">@Resources.User.NewUser</h1>
        </div>
        <!--end page header -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading">
                   @Resources.User.EnterYourInformationBelow
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                        @using (Html.BeginForm("Update", "User", FormMethod.Post, new { @id = "form_user" }))
                        {
                            @Html.HiddenFor(model => model.Id)

                            @Html.Partial("_Form", Model);
                            <button type="submit" class="btn btn-primary">@Resources.Global.Update</button>
                        }
                        </div>
                       
                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>
</div>

@section scripts {
}