@{
    Layout = null;
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}
<!DOCTYPE html>

<html lang="@TravelNM.Helpers.CultureHelper.GetCurrentNeutralCulture()" dir="@(TravelNM.Helpers.CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Resources.Login.Title</title>
    <!-- Core CSS - Include with every page -->
    <link href="~/assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/main-style.css" rel="stylesheet" />
</head>

<body class="body-Login-back">
    <div class="container">
        <div class="row pull-right">
            @using (Html.BeginForm("SetCulture", "Authentication"))
            {
                @Html.DropDownList("culture", new SelectListItem[]
            {
                new SelectListItem() { Text = "English", Value = "en-us", Selected = ("en-us" == culture)  },
                new SelectListItem() { Text = "Portugues", Value = "pt-br", Selected = ("pt-br" == culture) }},
                new
                {
                    @onchange = "form.submit();"
                })
            }
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center logo-margin "></div>
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Resources.Login.PleaseSignIn</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Login", "Authentication"))
                        { 
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="Email" id="Email" type="email" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="@Resources.Login.Password" name="Password" id="Password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">@Resources.Login.RememberMe
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-success btn-block">@Resources.Login.btnLogin</button>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Core Scripts - Include with every page -->
    <script src="~/assets/plugins/jquery-1.10.2.js"></script>
    <script src="~/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/assets/plugins/metisMenu/jquery.metisMenu.js"></script>
</body>

</html>
