@model TravelNM.Models.TravelPackageBuyView

@{
    ViewBag.Title = Resources.SoldPackage.New;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section css
{
}

<div id="page-wrapper">
    <div class="row">
        <!-- page header -->
        <div class="col-lg-12">
            <h1 class="page-header">@Resources.SoldPackage.New</h1>
        </div>
        <!--end page header -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading">
                   @Resources.SoldPackage.EnterYourInformationBelow
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                        @using (Html.BeginForm("Create", "TravelPackageBuy", FormMethod.Post, new { @id = "form_travelpackagesold" }))
                            {
                                @Html.Partial("_Form", Model.TravelPackageBuy);   
                                @Html.HiddenFor(model => model.TravelPackageBuy.TravelPackage.Id)                      
                                <button type="submit" class="btn btn-primary">@Resources.Global.Create</button>
                            }
                        </div>
                       
                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/jquery-maskmoney.js"></script>
    <script>
        jQuery(function ($) {
            $("#TravelPackage_Priece").maskMoney({ showSymbol: false, symbol: "R$", decimal: ".", thousands: "" });
        });
    </script>
}