@model TravelNM.Models.TravelPackageView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminCustomer.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <!-- page header -->
        <div class="col-lg-12">
            <h1 class="page-header">@Resources.TravelPackageBuy.PackageDetails</h1>
        </div>
        <!--end page header -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Resources.TravelPackageBuy.MessageConfirm
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel-body">
                                <div>
                                    <h4>
                                        @Resources.TravelPackageBuy.CityOrigin:
                                        @Html.DisplayFor(model => model.TravelPackage.CityOrigin.Name) / @Html.DisplayFor(model => model.TravelPackage.CityOrigin.State)
                                    </h4>
                                </div>

                                <div>
                                    <h4>
                                        @Resources.TravelPackageBuy.CityDestination:
                                        @Html.DisplayFor(model => model.TravelPackage.CityDestination.Name) /
                                        @Html.DisplayFor(model => model.TravelPackage.CityDestination.State)
                                    </h4>
                                </div>

                                <div>
                                    <h4>
                                        @Resources.TravelPackageBuy.Priece:
                                        @Html.DisplayFor(model => model.TravelPackage.Priece)
                                    </h4>
                                </div>
                                <br />
                                <div>
                                    <h4>
                                        @Resources.TravelPackageBuy.Description:
                                        @Html.DisplayFor(model => model.TravelPackage.Description)
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Form Elements -->
            </div>
        </div>
    </div>
</div>

