@model TravelNM.Models.TravelPackageView

@{
    ViewBag.Title = Resources.TravelPackage.Edit;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section css
{
}

<div id="page-wrapper">
    <div class="row">
        <!-- page header -->
        <div class="col-lg-12">
            <h1 class="page-header">@Resources.TravelPackage.Edit</h1>
        </div>
        <!--end page header -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading">
                   @Resources.TravelPackage.EnterYourInformationBelow
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                        @using (Html.BeginForm("Update", "TravelPackage", FormMethod.Post, new { @id = "form_travelpackage" }))
                        {
                            @Html.HiddenFor(model => Model.TravelPackage.Id)

                            @Html.Partial("_Form", Model);
                            <button type="submit" class="btn btn-primary">@Resources.Global.Update</button>
                        }
                        </div>                    
                    </div>
                </div>
            </div>
            <!-- End Form Elements -->
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/jquery-maskmoney.js"></script>
    <script>
        jQuery(function ($) {
            $("#TravelPackage_Priece").maskMoney({ showSymbol: false, symbol: "R$", decimal: ".", thousands: "" });
        });
    </script>


    <script>
        function SearchCitySparql() {
            var cityId = $('#TravelPackage_CityDestination_Id').val()
        $.ajax({
            url: '/en-us/TravelPackage/SearchCitySparql',
            url: '/pt-br/TravelPackage/SearchCitySparql',
            type: "GET",
            dataType: "JSON",
            data: { Id: cityId },
            success: function (varDesc) {
                $("#TravelPackage_Description").html(""); 
                $("#TravelPackage_Description").html(varDesc);
            }
        });
      }
    </script>

}

